html{
    font-size: 10px;
}
/* navigation */
nav{
    flex-direction: column;
}
/* home section */
#home {
  height: 670px;
}

/* services section */
#services {
  flex-wrap: wrap;
}

/* client section */

/* contact section */
#contact-box input,
#contact-box textarea {
  /* width: 150%; */
  padding: 0.2rem;
  border-radius: 4px;
  font: 1.2rem;
}
/* utility classes */
.h-primary{
    font-size:3.5rem;
}
.h-secondary{
    font-size:2.5rem;
}
p{
    font-size:1.2rem;
}